In [1]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for index, value in enumerate(some_list):
    mapping[index] = value
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [3]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [5]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [6]:
seq3 = [True, False]
zipped = zip(seq1, seq2, seq3)
list(zipped)

[('foo', 'one', True), ('bar', 'two', False)]

In [9]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print("{0}: {1} {2}".format(i+1, a, b))

1: foo one
2: bar two
3: baz three

In [10]:
empty_dict = {}
d1 = {'a':'some value', 'b':[1, 2, 3, 4], 7:'an integer'}
d1['b']

[1, 2, 3, 4]

In [15]:
'a' in d1

True

In [18]:
d1[5] = 'some value'

In [19]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [21]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [22]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [24]:
ret = d1.pop('b')
ret

[1, 2, 3, 4]

In [25]:
list(d1.keys())

['a', 7, 'dummy']

In [26]:
list(d1.values())

['some value', 'an integer', 'another value']

In [28]:
d1.update({'a':'foo', 'c':12})
d1

{'a': 'foo', 7: 'an integer', 'dummy': 'another value', 'b': 'foo', 'c': 12}

In [44]:
list = ['fangzhiheng', 'liuruiyang', 'wenziyang', 'fuqiang', 'lihaiyang']
tuple = (0, 1, 2, 3, 4)
dict1 = {'a': 'foo', 7: 'an integer', 'dummy': 'another value', 'b': 'foo', 'c': 12}
mapping = dict(zip(range(5), dict1.values()))
mapping

{0: 'foo', 1: 'an integer', 2: 'another value', 3: 'foo', 4: 12}

In [35]:
mapping = dict(zip(range(5), reversed(range(5))))
print("两元祖合并",mapping)

两元祖合并 {0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [2]:
words = ['batman', 'banana', 'apple', 'cry', 'appease']
by_letters = {}
for word in words:
    first_letter = word[0]
    if first_letter not in by_letters:
        by_letters[first_letter] = [word]
    else :
        by_letters[first_letter].append(word)
by_letters

{'b': ['batman', 'banana'], 'a': ['apple', 'appease'], 'c': ['cry']}

In [3]:
value = by_letters.get('a', "Not Found")
value
print(list(by_letters.keys()))

['b', 'a', 'c']

In [4]:
for word in words:
    letter = word[0]
    by_letters.setdefault(letter, []).append(word)
by_letters

{'b': ['batman', 'banana', 'batman', 'banana'],
 'a': ['apple', 'appease', 'apple', 'appease'],
 'c': ['cry', 'cry']}

In [13]:
kwargs = { 'name': 'Lilei'}
new = kwargs.setdefault('info', {})
new
new.setdefault('score', 90)
new
kwargs

{'name': 'Lilei', 'info': {'score': 90}}

In [34]:
from collections import defaultdict
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4)]
d = defaultdict(list)
for k, v in s:
    d[k].append(v)
sorted(d.items())

[('blue', [2, 4]), ('yellow', [1, 3])]

In [35]:
d = {}
for k, v in s:
    d.setdefault('grey', []).append(8)
sorted(d.items())

[('grey', [8, 8, 8, 8])]

In [46]:
hash(1.2)

461168601842738689

In [48]:
a = {0, 1, 2, 3, 5}
b = {5, 3, 2, 4, 6, 2, 1, 3}
a.intersection(b)

{1, 2, 3, 5}

In [52]:
c = a.copy()
c &= b
c

{1, 2, 3, 5}