In [13]:
a = []
def func():
    for i in range(10):
        a.append(i)
    return a
func_1 = func()
func_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [16]:
import re
print(re.match('www', 'www.runoob.com'))

<re.Match object; span=(0, 3), match='www'>

In [18]:
states = ['Alabama', 'Georgia!', 'Georgia', 'georgia','FlOrIda', 
         'south   carolina##', 'West virginia?']



clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [19]:
def remove_punctuation(value):
    return re.sub('[!?#]', '', value)

for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [22]:
equiv_anon = lambda x: x*2
type(equiv_anon)

function

In [37]:
strings = ['foo', 'card', 'bar', 'aaaa', 'ababa']

def paixu(test1):
    return len(set(tuple(test1)))

strings.sort(key = paixu)
strings

['aaaa', 'foo', 'ababa', 'bar', 'card']

In [34]:
len(set(list(x)))

11

In [42]:
from functools import partial

def add1(a, b, c):
    return a+b+c

add2 = partial(add1, c=10)

result = add2(a=10, b=20, c=15)
result

45

In [5]:
def squares(n=10):
    print("Generatting squares from 1 to {0}".format(n**2))
    for i in range(1, n+1):
        yield i**2

gen = squares()
type(gen)

for x in gen:
    print(x, end='\t')

Generatting squares from 1 to 100
1	4	9	16	25	36	49	64	81	100

In [14]:
import itertools
first_letter = lambda x: x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, wu in itertools.groupby(names, first_letter):
    print(letter, set(wu))

A {'Alan', 'Adam'}
W {'Wes', 'Will'}
A {'Albert'}
S {'Steven'}