In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj
obj.values
obj.index

0    4
1    7
2   -5
3    3
dtype: int64

array([ 4,  7, -5,  3], dtype=int64)

RangeIndex(start=0, stop=4, step=1)

In [4]:
%xmode Verbose
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2
obj2.index
obj2['a']
obj2['d'] = 6
obj2 [['c', 'a', 'd']]

Exception reporting mode: Verbose

d    4
b    7
a   -5
c    3
dtype: int64

Index(['d', 'b', 'a', 'c'], dtype='object')

-5

c    3
a   -5
d    6
dtype: int64

In [5]:
obj2[obj2>2]
obj2*2
np.exp(obj2)

d    6
b    7
c    3
dtype: int64

d    12
b    14
a   -10
c     6
dtype: int64

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [6]:
'b' in obj2

True

In [7]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [8]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4
pd.isnull(obj4)
pd.notnull(obj4)
pd.notna(obj4)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [9]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [10]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [11]:
obj4.name = 'population'
obj4.index.name = 'state'
# obj4.values.name = 'population'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [12]:
obj5 = pd.Series([0, 1, 2, 3])
obj5.index = ['bob', 'steve', 'jeff', 'ryan']
print(obj5)

bob      0
steve    1
jeff     2
ryan     3
dtype: int64

In [20]:
obj5.value_counts()
obj5[obj3.values<=2]

0    1
1    1
2    1
3    1
dtype: int64

Series([], dtype: int64)